<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolateygui" />
  <package id="googlechrome" />
  <package id="git" />
  <package id="cmder" />
  <package id="curl" />
  <package id="gradle" />
  <package id="intellijidea-ultimate" />
  <package id="vscode" />
  <package id="jq" />
  <package id="openjdk" />
  <package id="rapidee" />
  <package id="slack" />
  <package id="telegram" />
  <package id="utorrent" />
  <package id="vlc" />
</packages>